<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--	<bean-->
    <!--		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />-->
    <!---->
    <!--	<bean-->
    <!--		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />-->
    <!---->
    <!--	<bean-->
    <!--		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />-->

    <!-- ConfigurationClassPostProcessor 클래스는 @Configuration 어노테이션이 적용
        된 빈 객체에서 @Bean 어노테이션이 적용된 메서드로부터 빈 객체를 가져와 스프링
        컨테이너에 등록한다. -->
    <bean class="org.springframework.context.annotation.ConfigurationClassPostProcessor"/>

    <bean class="madvirus.spring.chap04.config.SpringConfig"/>


    <!-- @Configuration 어노테이션이 적용된 클래스를 자동으로 빈으로 등록할 수 있다 -->
    <!--	<context:component-scan base-package="madvirus.spring.chap04.config">-->
    <!--	</context:component-scan>-->

</beans>
