<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--	<bean-->
    <!--		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />-->
    <!---->
    <!--	<bean-->
    <!--		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />-->
    <!---->
    <!--	<bean-->
    <!--		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />-->

    <bean
            class="org.springframework.context.annotation.ConfigurationClassPostProcessor"/>

    <bean class="madvirus.spring.chap04.config.SpringConfig"/>


    <!--	<context:component-scan base-package="madvirus.spring.chap04.config">-->
    <!--	</context:component-scan>-->

</beans>
