<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean
            class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean class="madvirus.spring.chap02.CustomBeanFactoryPostProcessor"/>

    <bean class="madvirus.spring.chap02.CustomBeanPostProcessor"/>

    <bean id="allILifeCycleInterfacesImpl" class="madvirus.spring.chap02.AllILifeCycleInterfacesImpl"/>

</beans>
